.main-info-wrapper {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 518;
    font-size: 24px;
    line-height: 33px;

    color: rgba(51, 51, 102, 0.9);
    font-stretch: 100;
    margin: 0;
    padding: 0;
    padding-bottom: 30vh;
}

.info-head-wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7.92vw;
    padding-right: 4.17vw;
    padding-top: 3.61vh;
}

.info-icon {
    width: 13.88vw;
}

.cards-wrapper {
    padding: 0 2.08vw;
    margin: 0;
    margin-top: 2.44vh;
}

.info-card {
    text-decoration: none;
    margin: 0;
    padding: 1.66vh 1.18vw;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.info-card:nth-child(1) {
    background: linear-gradient(180deg, rgba(51, 51, 102, 0.6) 0%, rgba(51, 51, 102, 0.44645) 99.95%, rgba(51, 51, 102, 0.390995) 99.96%, rgba(51, 51, 102, 0.291408) 99.97%, rgba(51, 51, 102, 0.191463) 99.98%, rgba(51, 51, 102, 0.04375) 99.99%, rgba(51, 51, 102, 0) 100%, rgba(90, 90, 184, 0.6) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    margin-bottom: 3.125vh;
}

.info-card:nth-child(2) {
    background: linear-gradient(180deg, rgba(51, 102, 99, 0.7) 0%, rgba(51, 102, 99, 0.4375) 99.99%, rgba(22, 100, 133, 0.7) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    margin-bottom: 3.125vh;
}

.info-card:nth-child(3) {
    background: linear-gradient(180deg, rgba(51, 102, 99, 0.478113) 0.01%, rgba(99, 63, 126, 0.6) 99.98%, rgba(51, 102, 99, 0.3) 99.99%, rgba(51, 102, 99, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.info-card-wrapper {
    display: flex;
    align-items: center;
}

.info-card-img {
    width: 14.93vw;
    height: 15vh;
}

.info-card-title {
    margin-left: 16.94vw;
    font-size: 34px;
    line-height: 46px;
    text-align: center;

    color: #FFFFFF;
    font-stretch: 100;
}